pipeline/datalake-ingestion.json
{
	"name": "datalake-ingestion",
	"properties": {
		"activities": [
			{
				"name": "ingestion-to-bronze",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/marcelo77_df@hotmail.com/databricks_breweries/notebooks/inbound_to_bronze"
				},
				"linkedServiceName": {
					"referenceName": "databricks_datafactory_link",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingestion-to-silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ingestion-to-bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/marcelo77_df@hotmail.com/databricks_breweries/notebooks/bronze_to_silver"
				},
				"linkedServiceName": {
					"referenceName": "databricks_datafactory_link",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ingestion-to-gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ingestion-to-silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Repos/marcelo77_df@hotmail.com/databricks_breweries/notebooks/silver_to_gold"
				},
				"linkedServiceName": {
					"referenceName": "databricks_datafactory_link",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Sending_email_gold - failed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ingestion-to-gold",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://send-email-brewer.azurewebsites.net:443/api/send-email/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=uQ2S-PK59z3Zdu2BreGM71yyxfc_l6rYfEavmH306gc",
					"body": {
						"value": "{\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"ErrorMessage\":\"@{activity('ingestion-to-gold').Error.Message}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"Runid\":\"@{pipeline().RunId}\"\n\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sending_email_silver - failed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ingestion-to-silver",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://send-email-brewer.azurewebsites.net:443/api/send-email/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=uQ2S-PK59z3Zdu2BreGM71yyxfc_l6rYfEavmH306gc",
					"body": {
						"value": "{\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"ErrorMessage\":\"@{activity('ingestion-to-silver').Error.Message}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"Runid\":\"@{pipeline().RunId}\"\n\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Sending_email_bronze - failed",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ingestion-to-bronze",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://send-email-brewer.azurewebsites.net:443/api/send-email/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=uQ2S-PK59z3Zdu2BreGM71yyxfc_l6rYfEavmH306gc",
					"body": {
						"value": "{\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"ErrorMessage\":\"@{activity('ingestion-to-bronze').Error.Message}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"Runid\":\"@{pipeline().RunId}\"\n\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ADF - Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ingestion-to-gold",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://send-email-brewer.azurewebsites.net:443/api/send_email-sucess/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=U-dEpEIESFV47iG4e-WtHk1n5XHm5pd8hlAHyrssytw",
					"body": {
						"value": "{\n\"Title\":\"All the jobs run with success!!!\"\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"Runid\":\"@{pipeline().RunId}\"\n\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"tile": {
				"type": "String"
			}
		},
		"annotations": []
	}
}